/* Common styles */
html {
  box-sizing: border-box;
  background-color:#EEEEEEEE;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr;
  margin-bottom: 24px;
}

.header__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.header__inner {
  color: blue;
}

.user-name {
  font-weight: bold;
  color: #525151;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .header {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* スマートフォン用のメディアクエリ */
@media only screen and (max-width: 767px) {
  .header {
      display: block;
  }

  .header__heading {
      margin-bottom: 10px;
  }
}

.header-search {
  grid-column: 2 / span 1;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header-search form {
  display: none;
}

.header-search form[action="/search"] {
  display: block;
}

.search-form__inner {
  display: flex;
  margin: 20px;
}

.search-form__group {
  display: flex;
  align-items: center;
}

.search-form__group-select {
  margin-right: 10px;
}

.search-form__area,
.search-form__genre {
  margin-right: 10px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.search-form__actions {
  display: flex;
  align-items: center;
}

.search-form__keyword-input {
  margin-left: 10px;
}



/* タブレットサイズ以下の場合のスタイル */
@media screen and (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: stretch;
  }
}

  .form__inner,
  .thanks{
    max-width: 470px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .form__heading {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    font-size: 18px;
  }

  .auth-form{
    width: 100%;
    background-color: #fff;
    display: flex;
  }
  .auth-form__inner {
    width: 80%;
    margin: 0 auto;
    border: 1px #fff solid;
  }

  .auth-form__group {
    margin: 20px auto;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .auth-form__group input {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .auth-form__group input::placeholder{
    color: #999;
  }

  .auth-form__group.btn {
    display: flex;
    justify-content: flex-end;
  }

  .auth-form__group .btn__inner {
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    width: auto;
    cursor: pointer;
    display: inline-block;
  }

  .thanks__inner {
    margin: 80px auto;
    text-align: center;
  }

  .thanks__heading {
    margin: 40px auto;
  }

  .return-btn {

  }

.return-btn__inner {
  display: inline-block;
  padding: 7px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.modal__menu {
  display: none;
  position: fixed;
  top: -100%; /* 上から出てくるように初期位置を設定 */
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  animation: slideIn 0.5s forwards; /* アニメーション変更 */
}

.close {
  position: absolute;
  top: -6px;
  left: -2px;
  cursor: pointer;
  font-size: 24px;
}

.modal__menu__inner {
  padding: 20px 80px;
  list-style: none;
  text-decoration: none;
}

.modal__link {
  margin-bottom: 10px;
}

.modal__link a,
.header-nav__button {
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
}


/* Animation */
@keyframes slideIn {
  0% {
    top: -100%; /* 初期位置 */
  }
  100% {
    top: 20px; /* 表示位置 */
  }
}