/* Common styles */
html {
  box-sizing: border-box;
  background-color:#EEEEEEEE;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 各ページ共通　header */
.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.header__heading {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.header__heading__left {
  display: flex;
  align-items: center;
}

.header__heading__left-logo2 {
  color: blue;
  padding: 0px;
}

.header__heading__right {
  margin-right: 10px;
}

.header__heading__right-user-name {
  font-weight: bold;
  color: #525151;
  text-transform: uppercase;
  font-size: 1.1em;
}

/*ヘッダーの検索画面*/
.header__search {
  width: 50%;
  display: flex;
  align-items: center;
}
.header__search-form {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header__search-form[action="/search"] {
  display: block;
}

.header__search-form__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-form__inner__group:first-child {
  width: 40%;
}

.header__search-form__inner__group:last-child {
  width: 60%;
}
.header__search-form__inner__group {
  display: flex;
  padding: 10px 0px;
}

.header__search-form__inner__group__item {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-form__group__item-select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 0px;
}

.fa-sharp {
  margin-left: 5px;
  font-size: 16px;
  color: #b0b0b0;
}

.search-form__area,
.search-form__genre {
  border-right: 1px solid #ccc;
}

.header__search-form__inner__group__keyword-action {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header__search-form__inner__group__keyword-action button {
  margin-left: 10px;
  cursor: pointer;
}

.header__search-form__inner__group__keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.header__search-form__inner__group__keyword-action-input {
  width: 100%;
  padding: 10px 0px;
  border: none;
  margin-left: 10px;
}

/* エラーメッセージのスタイリング */
.alert {
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.alert-danger {
  border-color: #f5c6cb;
  color: #721c24;
  background-color: #f8d7da;
}

.alert-success {
  border-color: #c6f5d2;
  color: #1c7232;
  background-color: #d7f8dd;
}


/* 認証ページとthanks・doneページの枠組み*/
.auth__container,
.thanks__container{
  max-width: 470px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

/* thanks・doneページの構成 */
.thanks__container__inner {
  margin: 80px auto;
  text-align: center;
}

.thanks__heading {
  margin: 40px auto;
}
.thanks__container__inner-message {
  margin-bottom: 5px;
}


.thanks__container-btn-link {
  display: inline-block;
  padding: 7px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

  /* ハンバーガーメニューのスタイル */
.hamburger-menu {
  cursor: pointer;
  padding: 10px;
  z-index: 10000;
}

.menu__content {
  position: fixed;
  top: 80px;
  left: 10px;
  width: 80%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
}

.menu__inner {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  padding: 15px;
  text-align: center;
}


.menu__link a,
.header-nav__button {
  color: blue;
  text-decoration: none;
  border: none;
  background-color: #fff;
  font-size: 16px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}