.shop-container,
.reservation-container {
    width: 100%;
    margin-bottom: 100px;
}

/* タブレット用のスタイル */
@media only screen and (min-width: 768px) {
    .shop-container,
    .reservation-container {
        width: 48%;
        float: left;
    }
    .reservation-container {
        width: 48%;
        float: right;
        clear: none;
        margin-top: 10px;
    }
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 767px) {
    .shop-container,
    .reservation-container {
        width: 100%;
        float: none;
    }
    .reservation-container {
        position: none;
    }
}

/*　ショップ側スタイル　*/
.shop__heading {
    margin: 20px 0;
    display: flex;
}
.return {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #444; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.return:hover {
    background-color:blue;
    color: #fff;
}

.shop__img,
.shop__img img {
    width: 100%;
}

.hashtag {
    margin: 20px 0;
    font-weight: bold;
}

/* 予約側スタイル */
.reservation-container {
    box-sizing: border-box;
    background-color: #305DFF;
    color: #fff;
    border-radius: 5px;
    position: relative;
    top: -80px;
  }


.reservation-form__inner {
    border: none;
    box-shadow: none;
    padding: 36px 40px 0px 20px;
}

.reservation__heading {
    margin-bottom: 20px;
}

.form__tag {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form__tag input,
.form__tag select {
    padding: 7px;
}

.reservation__table{
    background-color: #4D7FFF;
    border-radius: 3px;
    margin-bottom: 200px;
    padding: 20px;
    width: 90%;
}

.reservation__btn {
    background-color: #0538FF;
    width: 100%;
    text-align: center;
}

.reservation__btn button {
    color: #fff;
    margin: 10px auto;
}