/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    }

.user-name {
    color: #333;
    font-size: 24px;
    margin: 10px auto;
    text-align: center;
    }

.reminder__container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:15px auto;
    }

.reminder__container-message {
    margin-bottom: 15px;
    font-size: 16px;
    }

.reminder__container-confirm {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    }

.reminder__container-confirm-description {
    margin-bottom: 10px;
    font-size: 16px;
    }

/* タブレットスタイル */
@media screen and (max-width: 768px) {
    .user-name {
        font-size: 20px;
        }
    .reminder__container {
        padding: 15px;
        }
    }
/* スマートフォン */
@media screen and (max-width: 480px) {
    .user-name {
        font-size: 18px;
        }
    }