.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* カードの最小幅を250pxとし、画面幅に応じて列の数を調整 */
  gap: 20px; /* カード間の間隔 */
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #fff;
}

/* スマートフォン用のメディアクエリ */
@media only screen and (max-width: 767px) {
  .card-container {
      grid-template-columns: repeat(1, 1fr); /* 1列のみ表示 */
  }
}

/* タブレット用のメディアクエリ */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2列表示 */
  }
}

/* パソコン用のメディアクエリ */
@media only screen and (min-width: 1024px) {
  .card-container {
      grid-template-columns: repeat(4, 1fr); /* 4列表示 */
  }
}

.shop__img img {
  width: 100%;
  height: auto;
}

.shop__details {
  padding: 20px 20px 5px 20px;
}

.shop-name {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.hashtag {
  font-size: 14px;
  margin-right: 5px;
}

.card .btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-decoration: none;
}

.card-footer-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  max-width: 120px;
  text-decoration: none;
}

.card-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  font-size: 2em;
  color: grey; /* 未お気に入りはグレー */
  cursor: pointer;
}

.heart.favorited {
  color: red; /* お気に入り済みは赤 */
}
