.mypage__name {
    text-align: center;
    font-size: 34px;
}

/* 予約を編集・削除した時のアラート表示 */
.alert-success {
  color: #007bff;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent ;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.alert-success i {
  color: #007bff;
  margin-right: 10px;
}

.mypage__container {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  gap: 40px;
}

.reservation,
.favorite-shop {
  flex: 4;
  margin-right: 20px;
}
.favorite-shop {
  flex: 6;
  width: 90%;
  margin-right: 0;
  margin-left: 20px;
}

.reservation__confirm,
.favorite-shop__heading {
  margin: 20px 0px 20px 0px;
  font-size: 24px;
}

/* 予約フォームのスタイル */
.reservation__update {
  text-align: right;
}

.reservation__container {
  background-color: #007bff;
  color: #fff;
  padding: 40px 30px 40px 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation__heading {
  display: flex;
  align-items: center;
  width: 100%;
}

.clock-img {
  display: flex;
  align-items: center;
  width: 20%;
}

.reservation__number
.reservation__table {
  margin-top: 40px;
}

.reservation__number {
  font-size: 18px;
  width: 80%;
}

.fa-regular {
  width: 10%;
}

.reservation__delete button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.table__row__inner {
  font-size: 18px;
}

.select-field,
.input-field {
  color: #fff; 
  transition: color 0.3s ease;
}

/*.select-field:hover {
  color: #f74b07;
  cursor: pointer;
}
.input-field :hover {
  color: #f74b07;
  cursor: pointer;
}*/

.table__row__edit {
  padding: 10px 0 10px 30px;
}

/* 編集ボタンのスタイル */
.reservation__update {
  display: flex;
  justify-content: right;
}

.reservation-edit,
.reservation-submit {
  border-radius: 7px;
  padding: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  text-align: center;
}

.reservation-edit,
.reservation-edit-btn {
  background-color: #f7c0de;
  color: #424242;
}

.reservation-edit:hover,
.reservation-submit:hover {
  opacity: 0.7;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.reservation-submit,
.reservation-submit-btn {
  background-color: #b36ef7;
  color: #424242;
}
.reservation-submit-btn,
.reservation-edit-btn {
  margin-left: 15px;
}

/* お気に入りのお店 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: calc(50% - 10px);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #fff;
}





.shop__img img {
    width: 100%;
    height: auto;
  }

  .shop__details {
    padding: 20px 20px 5px 20px;
  }

  .shop-name {
    margin: 0 0 10px;
    font-size: 1.2em;
  }

  .hashtag {
    font-size: 14px;
    margin-right: 5px;
  }

.card .btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-decoration: none;
}

.card-footer-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  max-width: 120px;
  text-decoration: none;
}

.card-footer-btn:hover {
  opacity: 0.7; /* 色が薄くなる効果 */
  transform: scale(1.05); /* ホバー時に少し拡大 */
  transition: transform 0.3s ease; /* アニメーションの速度と効果を設定 */
}

  .card-footer {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .heart {
    font-size: 2em;
    color: red;
    cursor: pointer;
  }

/*　レスポンシブデザイン タブレット表示　*/
@media only screen and (min-width: 769px) and (max-width: 959px) {
  .mypage__container {
    display: flex;
    flex-direction: column;
    }

  .reservation,
  .favorite-shop {
    width: 100%;
    margin: 0 0 20px 0;
    }
  .card {
    flex-basis: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
  .mypage__container {
    display: flex;
    flex-direction: column;
    }

  .card-container {
    display: block;
  }

  .card {
    width: 100%;
    flex-basis: auto;
  }
}

